div {
  font-size: 1.2rem;
}

.main-component {
  background-color: rgb(246, 247, 245);
  padding-bottom: 1rem;

}

.main-img {
  margin: 0 auto;
  padding: 0;

}

.main-text-box{
  padding: 1rem 0;
  width: 100%;
}


.main-name {
  font-size: 1.5em;
  color: #2d4f44;
  padding: .6rem;
}

.main-time, .main-place {
  font-size: 1.3rem;
  font-weight: bold;
  color: #2d4f44;
  padding: 0rem 1rem;
}