.slider-container {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
}

.slider-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slide {
  display: none;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease; /* 트랜지션을 추가하여 이미지 전환을 부드럽게 설정 */
}

.active {
  display: block;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 2;
  transition: opacity 0.5s ease; /* 트랜지션을 추가하여 화살표 전환을 부드럽게 설정 */
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.indicators {
  text-align: center;
  margin-top: 10px;
}

.indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.5s ease; /* 트랜지션을 추가하여 인디케이터 전환을 부드럽게 설정 */
}

.indicator.active {
  background-color: #717171;
}

/* Style the images to ensure they fill their container */
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* 
 .slider-container {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
}

.slider-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slide {
  display: none;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.active {
  display: block;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 2;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.indicators {
  text-align: center;
  margin-top: 10px;
}

.indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background-color: #717171;
}

/* Style the images to ensure they fill their container */
/* .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */


 /* */ 
