* {
  font-family: "Gowun Batang", serif;
  padding: 0;
  box-sizing: border-box;
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
  /* background-color: rgb(243, 243, 242); */
  /* background-color: rgb(244, 245, 195); */


}

h1 {
  font-size: 1.3rem;
  color: rgb(1, 58, 39);
}